body{
  background-color: cyan;
}
.title{
  margin: 1em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
  margin-left: 40%;
  float: left;
  clear: both;
}
.content{
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
  float: left;
  clear: both;
}
.nav{
  margin-top: 1.4em;
  display: table;
  width: 100%;
  height: 1.4em;
  border: none;
}
.nav ul{
  display: table-row;
}
.nav li{
  display: table-cell;
  margin: 0;
  text-align: center;
}
.nav li a{
  display: block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1em;
}
.nav li a:hover{
   background-color: green;
   display: block;
   border-radius: 100%;
}
.about{
  font-weight: bold;
  font-family: sans-serif;
}
.donate{
  font-weight: bold;
  font-family: sans-serif;
}
.contact{
  font-weight: bold;
  font-family: sans-serif
}
.thankyou{
  font-weight: bold;
  font-family: sans-serif;
}
#container{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.top1, .top2, .top3{
  width:200px;
  height: 200px;
  float: left;
  margin: 3%;
}
.one{
  background-color: blue;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 30%;
}
.two{
  background-color: red;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.three{
  background-color: green;
  width: 200px;
  height: 200px;
  float: left;
}
span{
   color: blue;
 }
.text{
  float: right;
}
.picture{
  float: left;
  clear: both;
  margin-left: 32.5%;
}
.picturetext{
  float: left;
  clear: both;
  margin-left: 32.5%;
  font-weight: bold;
  font-family: sans-serif;
}
.container{
  float: left;
  clear: both;
  margin-left: 28.25%;
  font-weight: bold;
  font-family: sans-serif;
}
.link{
  font-weight: bold;
  font-family: sans-serif;
  float: left;
  clear: both;
  margin-left: 45%;
  text-align: center;
}
.header{
  font-weight: bold;
  font-family: sans-serif;
  float: left;
  margin-left: 42.5%;
}
.subtitle{
  font-weight: bold;
  font-family: sans-serif;
  float: left;
  margin-left: 35%;
}
form{
  float: left;
  clear: both;
  margin-left: 45%;
}
